extends ./base.pug

block content
    div#notes

block script
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_SVG")