extends ./base.pug

block content
    div#app

block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG")