{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
{% endblock %}

{% block content %}
    <div id="notes"></div>
{% endblock %}

{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dist/notes.js') }}"></script>
{% endblock %}