.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.notes-main {
    height: 100%;
    margin: 0;
}

.notes-main.columns:last-child {
    margin-bottom: 0;
}

.notes-navigation {
    height: 100%;
    margin: 0;
}

.notebooks, .sections, .pages {
    border-right: 1px solid #d2d2d2;
}

.editor {
    display: flex;
    flex-direction: column;
}